* {
    padding: 0;
    margin: 0;
    border: 0;
}
  
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
:focus,
:active {
    outline: none;
}
  
a:focus,
a:active {
    outline: none;
}
  
nav,
footer,
header,
aside {
    display: block;}
  
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
  
input,
button,
textarea {
    font-family: inherit;
}
  
input::-ms-clear {
    display: none;
}
  
button {
    cursor: pointer;
}
  
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
  
a,
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
ul li {
    list-style: none;
}
  
img {
    vertical-align: top;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    font-style: normal;
    src: local('Gilroy Regular'),
        url('/fonts/gil/Gilroy-Regular.woff') format('woff'),
        url('/fonts/gil/Gilroy-Regular.ttf') format('ttf'),
        url('/fonts/gil/Gilroy-Regular.eot') format('eot');
}
@font-face {
    font-family: 'Gilroy';
    font-weight: 500;
    font-style: normal;
    src: local('Gilroy Medium'),
        url('/fonts/gil/Gilroy-Medium.woff') format('woff'),
        url("/fonts/gil/Gilroy-Medium.ttf") format('ttf'),
        url("/fonts/gil/Gilroy-Medium.eot") format('eot');
}
@font-face {
    font-family: 'Gilroy';
    font-weight: 600;
    font-style: normal;
    src: local('Gilroy SemiBold'),
        url('/fonts/gil/Gilroy-SemiBold.woff') format('woff'),
        url("/fonts/gil/Gilroy-SemiBold.ttf") format('ttf'),
        url("/fonts/gil/Gilroy-SemiBold.eot") format('eot');
}
@font-face {
    font-family: 'GoogleSansRegular';
    font-weight: 400;
    font-style: normal;
    src: local('Google Sans Regular'),
        url('/fonts/gsr/GoogleSans-Regular.woff') format('woff'),
        url("/fonts/gsr/GoogleSans-Regular.ttf") format('ttf'),
        url("/fonts/gsr/GoogleSans-Regular.eot") format('eot');
}
@font-face {
    font-family: 'SofiaPro';
    font-weight: 500;
    font-style: normal;
    src: local('Sofia Pro Medium'),
        url('/fonts/sp/SofiaProMedium.woff') format('woff'),
        url("/fonts/sp/SofiaProMedium.ttf") format('ttf'),
        url("/fonts/sp/SofiaProMedium.eot") format('eot');
}
@font-face {
    font-family: 'SofiaPro';
    font-weight: 700;
    font-style: normal;
    src: local('Sofia Pro Bold'),
        url('/fonts/sp/SofiaProBold.woff') format('woff'),
        url("/fonts/sp/SofiaProBold.ttf") format('ttf'),
        url("/fonts/sp/SofiaProBold.eot") format('eot');
}

body {
    margin: 0 auto;
}
.main{
    &-left{
        width: 1043px;
    }
    &-left__panel{
        background-color: #F6F7FB;
        width: 0;
        height: 100%;
        transition: .5s;
    }
    &-left__panel-active{
        width: 14.25%;
    }
    &-left__info{
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(60px);
        max-width: 100%;
        transition: all ease .5s;


    }
    &-left__info__active{
        max-width: 88%;
    }
    &-slider{
        margin-top: 54px;
        margin-bottom: 45px;
    }
    &-info__friends{
        max-width: 400px;
        margin-left: 31px;
    }
}
.test{
    display: flex;
}
.header{
    &-body{
        display: flex;
        align-items: center;
        background-color: #F6F7FB;

    }
    &-btn{
        width: 131px;
        height: 113px;
        background: #393D46;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-info{
        display: flex;
        align-items: center;
        width: 88%;
        justify-content: space-between;

    }
    &-title{
        font-family: 'Gilroy';
        font-size: 26px;
        line-height: 30px;
        font-weight: 600;
        color: #000000;
        margin-left: 44px;
    }
    &-search{
        display: flex;
    }
    &-form{
        position: relative;
        display: flex;
        align-items: center;
    }
    &-form__icon{
        position: absolute;
        margin: 14px 13px;
    }
    &-input{
        padding: 16px 47px;
        font-family: 'GoogleSansRegular';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 127.7%;
        color: #AFAFAF;
        width: 326px;
        height: 52px;
        background: #fff;
        box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.02);
        border-radius: 26px;
    }
    &-input:focus{
        box-shadow:0px 0px 5px #F86549;
        border: 1px solid #F86549;
        transition: .5s;
    }
    &-form__btn{
        width: 52px;
        height: 52px;
        margin-left: 9px;
        margin-right: 31px;
        background: #F86549;
        border-radius: 50%;
        box-shadow:0px 0px 14px #F86549;
    }
    &__button{
        align-items: center;
        width: 20px;
        height: 20px;
        background: transparent;
    }
}
.burger{
    &-line{
        width: 18px;
        border: 1.5px solid #F6F7FB;
    }
}
.second{
    margin: 6px 0 ;
}
.third{
    width: 9px;
}

.panel{
    width: 131px;
    padding-top: 56px;
    &-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    &-item{
        width: 77px;
        height: 81px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    &-item:nth-child(5){
        margin-bottom: 180px;
        
    }
    &-btn{
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        margin-bottom: 16px;
        background: #FFFFFF;
        fill: #9BAAD3;
        padding: 13px 13px;
    }
    &-btn__active{
        background: #FF6647;
        box-shadow: 0px 10px 20px rgba(88, 92, 229, 0.25);
        fill: white;
    }
    &-title{
        font-family: 'GoogleSansRegular';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #1C295D;
    }
    &-circle__item{
        position: absolute;
        top: 0;
        right: 0;
        fill: white;
    }
    &-circle__item-active{
        fill: #FF8D76;
    }
    &-btn:hover &-circle__item{
        fill: #FF8D76;
    }
    &-btn:hover{
        background: #FF6647;
        box-shadow: 0px 10px 20px rgba(88, 92, 229, 0.25);
        fill: white;
        transition: .5s;
    }
}
.chapter{
    display: flex;
    justify-content: space-between;
    fill: #3E3C50;
    color: #3E3C50;
    &-info{
        display: flex;
        align-items: center;
    }
    &-icon{
        margin-left: 32px;
        margin-right: 10px;
        opacity: 0.8;
    }
    &-icon__friends{
    margin-left: 0;
    }
    &-title{
        opacity: 0.8;
        font-family: 'Gilroy';
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
    }
    &-buttons{
        display: flex;
        margin-right: 31px;
    }
    &-button{
        width: 24px;
        height: 24px;
        background: #FFF;
        padding: 4px 8px;
        transition: 0.3s;
    }
    &-button:hover{
        opacity: 0.1;
    }
    &-button__left{
        margin-right:2px ;
    }
    &-btn__more{
        width: 36px;
        height: 36px;
        background: #FFFFFF;
        border-radius: 10px;
        fill:#3246D3;
        transition: all ease 1s;
        position: relative;
    
    }
    &-btn__more:hover{
        background: #3246D3;
        fill:#FFFFFF;
    }
    &-btn__icon{
        position: absolute;
        top: 16px;
        left:11px;
    }
}
.slider{

    &-elements{
        position: relative;
        height: 275px;
        margin-top: 47px;
    }
    &-vertical{
        position: absolute;
        top: 127px;
        left: -74px;
        transform: rotate(270deg);
        width: 234px;
    }
    &-continents{
        display: flex;
        justify-content: space-between;
    }
    &-zone{
        overflow: hidden;
        width: 807,5px;
        margin-left: 80px;
    }
    &-boxs{
        height: 400px;
        position: relative;
        left: 100;
        transition: all ease 1s;
        display: none;
        left: 0;
    }
    &-boxs__active{
        display: flex;
        transition: all ease 1s;
    }
    &-box{
        width: 293px;
        height: 261px;
        background: #fff;
        box-shadow: 0px 100px 80px rgba(153, 165, 236, 0.05), 0px 64.8148px 46.8519px rgba(153, 165, 236, 0.037963), 0px 38.5185px 25.4815px rgba(153, 165, 236, 0.0303704), 0px 20px 13px rgba(153, 165, 236, 0.025), 0px 8.14815px 6.51852px rgba(153, 165, 236, 0.0196296), 0px 1.85185px 3.14815px rgba(153, 165, 236, 0.012037);
        border-radius: 25px;
        margin: 15px 15px;
        position: relative;
    }
    &-box__icon{
        width: 270px;
        height: 180px;
        margin: 13px 11px 0px 13px;
        padding-bottom: 0;
        border-radius: 25px;
        object-fit: contain;
    }
    &-box__circle{
        position: absolute;
        top: 170px;
        right: 19px;    
        width: 35px;
        height: 35px;
        background: #FF6647;
        border: 2.10345px solid #FFFFFF;
        box-shadow: 0px 4.2069px 4.2069px rgba(255, 102, 71, 0.25);
        border-radius: 50%;
        padding: 8px 10px;
        fill: white;
        transition: all 0.5s ease;
    }
    &-box__circle:hover{
        background: #FFFFFF;
        border: 2.10345px solid #FF6647;
        fill: #FF6647;

    }
    &-box__name{
        font-family: 'Gilroy';
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #353646;
        margin-left: 13px;
        margin-top: 14px;
    }
    &-box__info{
        display: flex;
        justify-content: space-between;
        margin: 6px 16px 20px 12px;
    }
    &-box__place{
        display: flex;
    }
    &-box__country{
        margin-left: 8px;
        font-family: 'Gilroy';
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #353646;
        opacity: 0.4;
    }
    &-box__price{
        font-family: 'Gilroy';
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #34A59F;

    }
}
button{
    background: #fff;
}
.continent{
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 14px;
    line-height: 127.7%;
    position: relative;
    &-btn{
        color: #3E3C50;
        transition: 0.3s;
        fill: white;
    }
    &-icon{
        position: absolute;
        top: -88px;
        left: 13px;
        transform: rotate(90deg);

    }
    &-btn:hover{
        color: #FF6647;
    }
    &-btn__active{
        color: #FF6647;
        fill: #FF6647;
    }
    &-icon__active{
        fill: #FF6647;
    }
    &-btn:hover >&-icon{
        fill: #FF6647;
        transition: 0.3s;
    }
}
.friends{
    &-cards{
        margin:31px auto;
        display: grid;
        gap: 18px 5px;
        grid-template-columns: repeat(auto-fit, 125px);
        justify-items: center;
        justify-content: center;
    }
    &-card{
        width: 99px;
        height: 124px;
        border-radius:14px ;
        text-align: center;
        padding: 15px 23px;
        fill: white;
        position: relative;
    }
    &-card__circle{
        width: 52px;
        height: 52px;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 4px 15px rgba(160, 230, 255, 0.2);
        border-radius: 50%;
        margin-bottom: 7px;
    }
    &-card__icon{
        padding: 12px;
    }
    &-card__name{
        font-family: 'Gilroy';
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #010101;
    }
    &-card__btn{
        position: absolute;
        bottom: -11px;
        left: 38px;
        width: 24px;
        height: 24px;
        border: 2px solid #FFFFFF;
        border-radius: 50%;
    }
    &-card__nate{
        background: #ECFAFF;
    }
    &-card__btn-nate{
        background: #ECFAFF;
    }
    &-card__jim{
        background: #FFEFBC;
    }
    &-card__btn-jim{
        background: #FFEFBC;
    }
    &-card__angela{
        background: #FFE2BF;
    }
    &-card__btn-angela{
        background: #FFE2BF;
    }
    &-card__bhaaji{
        background: #EEECFF;
    }
    &-card__btn-bhaaji{
        background: #EEECFF;
        transform: rotate(-45deg);
    }
    &-card__billo{
        background: #FFE8E8;
    }
    &-card__btn-billo{
        background: #FFE8E8;
        transform: rotate(-45deg);
    }
    &-card__alex{
        background: #DDFFE9;
    }
    &-card__btn-alex{
        background: #DDFFE9;
        transform: rotate(-45deg);
    }
}